<%= form_tag(sessions_path, {class: 'form-signin', role: "form"}) do %>
<h2 class="form-signin-heading">Please sign in</h2>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag(:email, params[:email], {class: "form-control"}) %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag(:password, nil, {class: "form-control"}) %>
  </p>
  <p><%= link_to "forgotten password?", new_passwordreset_path %></p>
    <label class="checkbox">
    <%= check_box_tag(:remember_me, 1, params[:remember_me]) %> Remember me
    </label>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
<% end %>